<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/home.css">
        <div class = "row container-fluid main-page">

            <div class="left-panel col-xs-3">
                <div class = "row left-panel-header">
                    <div class = "col-xs-offset-2">
                        <p class="col-xs-6 h3"> Bloc Chat </p>
                        <button type="button" class="col-xs-4 btn btn-default top-buffer" ng-click="roomControl.open()">New Room</button>
                    </div>
                </div>
                <!-- ne function that calls both functions -->
                <div class="row room-names h4 top-buffer" ng-repeat="room in roomControl.roomList" ng-click="roomControl.activeRoom = room; roomControl.messages.getByRoomId(room.$value)">
                    {{ room.$value }}
                </div>
            </div>


            <div class="message-container col-xs-8">

                <div class="row h2 room-name-header">
                    {{ roomControl.activeRoom.$value }}
                </div>

                <div class="message" ng-repeat="message in roomControl.messages.all">
                    <div class="row chat-message-user"><b>{{ message.username }}</b></div>
                    <div class="row">
                        <span class="chat-message-content">{{ message.content }}</span>
                        <span class="chat-message-time">{{ message.sentAt | date:'short' }}</span>
                    </div>
                </div>

                <div class="row chat-controls col-xs-12">
                    <input type="text" ng-model="roomControl.typedMessage" class="form-control col-xs-10" >
                    <button type="button" class="btn btn-default submit-btn" ng-click="roomControl.newMessage(typedMessage)">Submit</button>
                </div>

          </div>

      </div>
</html>
