<div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Username Required</h3>
    </div>

    <div class="modal-body" id="modal-body">
      <h4 class="modal-body-directive" id="modal-body-directive">Enter a username:</h3>
        <div class="form-group">
          <input type="text" ng-model="username" class="form-control">
        </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="usernameControl.submit(username)">OK</button>
    </div>

</div>
